
<div>
  {{patient}}
</div>
<ui-select ng-model="patient.selected"

           reset-search-input="false"  style="width:300px" >
  <ui-select-match placeholder="Enter a person's name...">{{$select.selected.person.display}}</ui-select-match>
  <ui-select-choices repeat="patient in results track by $index"
                     refresh="findPatients($select.search)"
                     refresh-delay="200">
    <div ng-bind-html="patient.person.display | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>

