
<h1>Patient Search</h1>
<div class="row">
  <input type="text" name="searchPatient" id="searchPatient" ng-model="searchText" placeholder="Search Patient"/>
  <input type="button" id="search" value="Search" ng-click="findPatients()"/>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead>
    <tr>
    <th>
      Patient
    </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in results">
      <td>{{result.display}}</td>
    </tr>
    </tbody>

  </table>
</div>
